* {
    margin: 0;
}

body {
    background-color: whitesmoke;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #404040;
    padding: 16px;
}

.results {
    height: 50px;
    font-size: 32px;
    font-weight: 600;
    margin: 5px 5px 24px 5px;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 10px;
    border: 1px solid #191919;
}

.running-total {
    position: relative;
    top: -45px;
    left: 5px;
    height: 25px;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    color: #404040;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}

.num, .clear {
    flex: 1 0 20%;
    padding: 24px;
    font-size: 16px;
    font-weight: 700;
    color: #191919;
    background-color: #f1f1f1;
    border: none;
}

.clear {
    margin-top: 16px;
    width: 100%;
}

.num:hover {
    background-color: orange;
}